.mt10 { margin-bottom: 10px; }
.primary-color {
    color: #ff9536;
}
.tag {
    background-color: #efefef;
    border-radius: 3px;
    padding: 3px 8px;
    font-size: 12px;
    color: #999;
}
.primary {
    background-color: #ff9536;
    color: #fff;
}
[class*=bui-btn].primary {
    border-color: #ff9536;
    border-radius: 5px;
}
[class*=bui-btn].primary:active {
    background: #fb8012;
    color: #fff;
    border-color: #fb8012;
}

.register-container {
    background: #fff;
    padding: 30px 20px 0 20px;
}
.register-container h2 {
    text-align: center;
    margin-bottom: 30px;
}
.register-container .bui-nav {
    border: 0 none;
}
.register-container .bui-tab .bui-nav .active {
    color: #ff9536;
    border: 1px solid #ff9536;
}
.register-container .bui-tab .bui-nav li {
    border: 1px solid #ced4da;
}
.register-container .bui-nav>[class*=bui-btn].active:after {
    background: none;
}
.register-container .bui-group>[class*=bui-btn] {
    width: 49%;
}
.register-container .footer {
    font-size: 14px;
    padding: 20px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    border-top: solid 1px #ececec;
    font-weight: 400;
    margin-top: 30px;
    text-align: center;
}

.mb-3, .my-3 {
    margin-bottom: 0.3rem !important;
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group-prepend {
    margin-right: -1px;
}

.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    margin-left: -1px;
    border: 1px solid #ced4da;
    cursor: pointer;
    border-top-right-radius: .05rem !important;
    border-bottom-right-radius: .05rem !important;
}
.btn-outline-secondary:disabled {
    color: #6c757d;
    background-color: transparent;
}
.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    padding: .12rem .15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .05rem;
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
input[type="password"].form-control {
    padding: .12rem .15rem;
}

.form-control {
    padding: .12rem .15rem;
    display: block;
    width: 100%;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .05rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}